HELP.md
target/

### Maven ###
.mvn/

### Build ###
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/

**.classpath
**.factorypath
**.project
**.settings
